.contact-subtitle {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-cont {
    color: whitesmoke;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;

}

.contact-element {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.form-elemunt {
 border: none; 
 width: 350px;
 background-color: rgb(27, 27, 27);
 height: 50px;
 border-bottom: 1px solid whitesmoke;
}

textarea {
    border: none;
    background-color: rgb(27, 27, 27);
    border-bottom: 1px solid whitesmoke;
    width: 700px;
    height: 200px;
    margin-top: 30px;
}

.chmonya-btn {
    border: none;
    background-color: red;
    width: 700px;
    border-radius: 50px;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 30px;
}

.ananas {
    color: rgb(27, 27, 27);
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.rokaka-futer {
    color: rgb(27, 27, 27);
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}