.navcss {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
}

.logo{
display: block;
}

.menu-items{
    font-size: 14px;
    color: #777;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}

.menu-items:hover {
    color: white;
}